legend{
    padding-bottom: 15px;
}
.btn-new{
    color: #333;
    background:none;
    border:none;
    font-size:16px;
}
.btn-new img{
    margin-right:4px;
}
span.block{
    display: block;
    font-size:16px;
}
.dates p{
    display:inline-block;
    vertical-align: top;
    font-weight: 600;
}
.dates img{
    display:inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-bottom: 4px;
}
tr {
    border-bottom: 1px solid #e6e6e6;
}
tr.spaceUnder > td {
    padding: 5px 10px;
}

.chng-set{
    text-align: center;
    margin-bottom: 15px;
}
.chng-set a{
    color:#000;
}
.chng-set span{
    margin-top:10px;
}
ul.helpline{
    padding-left:0;
}
ul.helpline li{
    list-style-type: none;
}
.camera-img img{
    width:34%;
}

a.nounderline:hover {
    color: #333;
    text-decoration: none;
}

a.nounderline {
    color: #333;
}

.dates h3 {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}