#attendance-title{
	background: #e6faff;
	border-bottom: 1px solid #00ccff;
}
.nav-tabs {
    border-bottom: none;
}
textarea {
    width: 100%;
    height: 150px;
}
li.active {
    border-bottom: 4px solid #00ccff;
}
.nav-tabs>li>a {
    margin-right: 0; 
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border:none;
    border-right: 1px solid #ddd;
    color: #333;
    background-color: #e6faff;
}
label {
    font-weight: normal;
    font-size: 16px;
}
h3 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 20px;
}
h3 span {
    display: block;
    font-size: 16px;
    margin-top: 5px;
}
.dates {
    padding-bottom: 10px;
}
.dates img {
    display: inline-block;
    vertical-align: top;
}
.tab-content {
    margin-top: 20px;
}
p{
    font-size: 16px;
}
.nav-tabs>li>a:hover {
    border:none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
.date_info{
	border-bottom: 1px solid #ddd;
	    padding-bottom: 10px;
}
#view p{
	text-align: center;
	margin-top: 20px;
}
.summary {
    margin-top: 15px;
}
tr.spaceUnder > td
{
      padding: 5px 10px;
}
.spaceUnder th {
    padding: 5px 10px;
}
.margin_class img {
    margin-right: 6px;
}
a.margin_class{
    color: #000;
}
a.margin_class:hover{
    color: #00ccff;
    text-decoration: none;
}
form {
    margin-top: 20px;
}


/*-------------------------------------------------------daywise-analysis---------------------------------------------*/

#daywise-title{
	background: #56bdf1;
	border-bottom: 1px solid #fff;
}
.analysis{
    margin-top: 10px;
}
.analysis p {
    color: #fff;
}

/*--------------------------------------------------------pending-attendance------------------------------------------*/

#pending_bg .tab-content {
    margin-top: 12px;
}
th{
	border-right: 1px solid #e6e6e6;
}
tr{
	border-bottom: 1px solid #e6e6e6;
}
.daywise_table td{
	border-right: 1px solid #e6e6e6;
}
#pending_bg{
	background: #ffffe6;
}
.btn-default {
   border:none;
   font-weight: bold;
   background: none;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background: none;
    box-shadow: none;
}
.btn-default:hover {
   background: none;
}
.btn{
	border:none;
}
.btn-default.focus, .btn-default:focus {
    color: #333;
    background:none !important;
    border:none !important;
}
button img {
    margin-right: 6px;
}

.fa {
    font-size: 16px;
    background: #fff;
    border-radius: 50px;
    width: 22px;
    height: 21px;
    padding: 2px 6px;
    color: #595959;
}


