<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Smart InField</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/demo.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="js/angular/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="js/angular/mobile-angular-ui.gestures.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services/mainSvc.js"></script>
    <script src="js/services/authSvc.js"></script>
    <script src="js/services/attendanceSvc.js"></script>
    <script src="js/controllers/loginCtrl.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/profileCtrl.js"></script>
    <script src="js/controllers/feedbackCtrl.js"></script>
    <script src="js/controllers/dynamicformCtrl.js"></script>
    <script src="js/controllers/attendanceCtrl.js"></script>
    <script src="js/controllers/weekly_offCtrl.js"></script>
  </head>

  <body 
    ng-app="product_webapp"
    ui-prevent-touchmove-defaults
    ng-cloak
    >

    <!-- Sidebars -->
    <div ng-include="'sidebar.html'" ng-if="isauthenticated"
            ui-track-as-search-param='true'
            class="sidebar sidebar-left"></div>

    <!--<div ng-include="'views/sidebarRight.html'"-->
            <!--class="sidebar sidebar-right"></div>-->

    <div class="app" 
         ui-swipe-right='Ui.turnOn("uiSidebarLeft")'
         ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
          Smart InField
        </div>
        <div class="btn-group pull-left" ng-if="isauthenticated">
          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i>
          </div>
        </div>
        <!--<div class="btn-group pull-right" ui-yield-to="navbarAction">-->
          <!--<div ui-toggle="uiSidebarRight" class="btn">-->
            <!--<i class="fa fa-comment"></i> Chat-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <!-- App Body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

    <!--<div ui-yield-to="modals"></div>-->

    <!--<script>-->
       <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
       <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
       <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
       <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-48036416-1', 'mobileangularui.com');-->
       <!--ga('send', 'pageview');-->
     <!--</script>-->
  </body>
</html>
