<div class="scrollable" ng-controller="mainCtrl">
  <h1 class="scrollable-header app-name">InField </h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <!--<a class="list-group-item" href="#/mark_attendance">Mark Attendance <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/view_attendance">View Attendance <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/daywise">Day Wise Attendance <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/feedback">Feedbacks <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/checkout">Checkout <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/profile">My Profile <i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a class="list-group-item" href="#/settings">Settings <i class="fa fa-chevron-right pull-right"></i></a>-->

      <a class="list-group-item" href="#/mark_attendance" ng-if="hasattendance()">
        Mark Attendance
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" href="#/view_attendance" ng-if="hasattendance()">
        View Attendance
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a ng-href="#/dynamic_form?form_code={{f.form_code}}" class="list-group-item" ng-repeat="f in forms">
        {{f.title}}
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" href="#/feedback" ng-if="hasfeedback()">
        Feedback
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
        <a class="list-group-item" href="#/profile" ng-if="hasprofile()">
        My Profile
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" href="#/checkout" ng-if="hasattendance() && need_checkout && need_checkout_inconfig">
        Checkout
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" href="#/settings">
        Settings
        <i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a class="list-group-item" ng-click="logout()">
        Logout
        <i class="fa fa-chevron-right pull-right"></i>
      </a>

    </div>
  </div>
</div>
