<div ui-content-for="title">
    <span>Change Password</span>
</div>

<div class="scrollable" ng-controller="loginCtrl">
    <div class="scrollable-content section">

        <form role="form">

            <fieldset>
                <legend>Change Your Password</legend>
                <div class="text-danger">{{errormsg}}</div>
                <div class="form-group has-success has-feedback">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <label>User Name</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <p>{{current_username}}</p>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <label>Old Password</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" ng-model="old_password" placeholder="Enter Current Password">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <label>New Password</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="password" class="form-control" ng-model="new_password" placeholder="Enter New Password">
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <label style="margin-top: 3%;">Confirm Password</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="password" class="form-control" ng-model="new_password_copy" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr>

            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-xs">
                    <label></label>
                </div>
                <div class="col-md-8 col-sm-8">
                    <button ng-click="change_password()" class="btn btn-primary">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
