<div ui-content-for="title" ng-controller="attendanceCtrl">
    <span>{{checkout_page_title}}</span>
</div>

<div class="scrollable" ng-controller="attendanceCtrl">
    <div class="scrollable-content section">

        <form role="form">
            <fieldset>
                <legend>Checkout</legend>
                <div class="text-danger">{{errormsg}}</div>
                <div class="form-group" ng-show="attendance_config.need_checkout_remarks" >
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <textarea class="form-control" style="width: 100%" ng-model="checkout_remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="attendance_config.need_checkout_selfie">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>Selfie:</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <input id="upload" class="file-upload__input form-control"
                                   type="file" name="file" onchange="angular.element(this).scope().uploadcheckoutpic(this.files)"/>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr>

            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-xs">
                    <label></label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <button class="btn btn-primary" ng-click="mark_checkout(check_out_remarks)">{{checkout_page_labels.submit}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
