<div ui-content-for="title">
    <span>Smart InField</span>
</div>

<div class="scrollable" >
    <div class="scrollable-content section">
        <div style="text-align: center; font-size: 50px; color: #99ccff">COMING SOON</C></div>
        <div style="text-align: center; font-size: 20px">We are still working on it</C></div>
    </div>
</div>