<div ui-content-for="title" ng-controller="attendanceCtrl" ng-cloak>
    <span>{{daywise_page_title}}</span>
</div>

<div class="scrollable" ng-controller="attendanceCtrl" ng-init="load_day_wisesummary()">
    <div class="scrollable-content section">

        <form role="form">
            <fieldset>

                <legend>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            {{dw_date | date:'MMM yyyy'}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="analysis text-right">
                                <i ng-click="changemonth(-1)" class="fa fa-angle-double-left"></i>
                                <!--<i class="fa fa fa-pencil"></i>-->
                                <img src="images/cal.png">
                                <i ng-click="changemonth(1)" class="fa fa-angle-double-right"></i>
                            </div>
                        </div>
                    </div>
                </legend>
                <div class="text-danger">{{errormsg}}</div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="summary">
                            <table style="background: #f7f7f7;width: 100%;border: 1px solid #e6e6e6;">
                                <tr class="spaceUnder">
                                    <td><strong>{{daywise_page_labels.date}}</strong></td>
                                    <td><strong>{{daywise_page_labels.In_time}}</strong></td>
                                    <td><strong>{{daywise_page_labels.out_time}}</strong></td>
                                    <td><strong>{{daywise_page_labels.hrs}}</strong></td>
                                    <td><strong>{{daywise_page_labels.status}}</strong></td>
                                </tr>

                                <tr class="spaceUnder" ng-repeat="d in daywise_data">
                                    <td>{{d.for_date}}</td>
                                    <td>{{d.check_in}}</td>
                                    <td>{{d.check_out}}</td>
                                    <td>{{d.working_hrs}}</td>
                                    <td>{{d.attendance}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </fieldset>

        </form>
    </div>
</div>
