<div ui-content-for="title">
    <span>Default Weekly Off</span>
</div>

<div class="scrollable" ng-controller="weekly_offCtrl">
    <div class="scrollable-content section">

        <form  role="form" >
            <fieldset>
                <legend>Default Weekly Off</legend>
                <div class="text-danger">{{errormsg}}</div>
                <div ng-hide="isedit" class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                        {{woff.week_day_name}}
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <button class="btn btn-primary" ng-click="isedit = true">
                            Change
                        </button>
                    </div>
                </div>
                <div ng-if="isedit" class="form-group has-success has-feedback">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <select class="form-control" style="width: 100%" ng-model="woff.week_day_no">
                                <option value="-1">-Select-</option>
                                <option value="0">Sunday</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <button class="btn btn-primary" ng-click="save_wo()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr>
        </form>
    </div>
</div>
