<div ui-content-for="title">
    <span>Smart InField</span>
</div>

<div class="scrollable" ng-controller="dynamicformCtrl">
    <div class="scrollable-content section">
        <form role="form">
            <fieldset>
                <legend>{{d_form.title}}</legend>
                <div class="text-danger">{{errormsg}}</div>
                <div class="form-group has-success has-feedback" ng-repeat="c in d_form.content">
                    <label>{{c.label}}</label>
                    <input ng-if="c.value=='edittext' && c.value_type!='number'" type="text"
                           ng-model="c.field_value"
                           class="form-control"
                           placeholder="{{c.hint}}">
                    <input ng-if="c.value=='edittext' && c.value_type=='number'" type="number"
                           ng-model="c.field_value"
                           class="form-control"
                           placeholder="{{c.hint}}">
                    <input ng-if="c.value=='date'" type="date"
                           ng-model="c.field_value"
                           class="form-control"
                           placeholder="{{c.hint}}">
                    <select ng-if="c.value=='dropdown'" ng-model="c.field_value" ng-init="dynamicdd(c)
                            " ng-options="o as o for o in c.options"
                            ng-change="dynamic_dd_fill(c)" class="form-control" style="width: 100%">
                        <option value="">-Select-</option>
                    </select>
                    <ul style="list-style: none" ng-if="c.value=='checkbox'">
                        <li ng-repeat="o in c.options">
                            <!--<input type="checkbox" ng-true-value="o" ng-false-value="''" ng-model="c.options.checkedvalue"> {{o}}-->
                            <input type="checkbox" ng-click="c.field_value = c.selected_options.toString()" checklist-model="c.selected_options" checklist-value="o"> {{o}}
                        </li>
                        <!--<li>{{c.field_value}}</li>-->
                        <!--<li><span ng-repeat="o in c.selected_options">{{o}}{{$last ? '' : ', '}}</span></li>-->
                        </ul>

                        <input ng-if="c.value=='image'" id="upload" class="file-upload__input form-control"
                               type="file" name="file" auto-upload="{{c}}"/>
                    </div>
                </fieldset>
                <hr>

                <div class="row">
                    <div class="col-md-4 col-sm-4 hidden-xs">
                        <label></label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <button class="btn btn-primary" ng-click="post_form()">
                            {{d_form.submit_value}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
