<div ui-content-for="title" ng-controller="feedbackCtrl">
    <span>{{page_title}}</span>
</div>

<div class="scrollable" ng-controller="feedbackCtrl">
    <div class="scrollable-content section">

        <form role="form" ng-submit='login()'>
            <fieldset>

                <legend>Connect Your Query</legend>
                <div class="text-danger">{{errormsg}}</div>
                <div ng-if="feedback_config.need_category" class="form-group has-success has-feedback">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <select class="form-control" style="width: 100%" ng-model="new_feedback.category"
                                    ng-options="item.tab as item.tab for item in feedback_config.categories  | unique: 'tab'">
                                <option value="">-Select Category-</option>
                            </select>
                        </div>
                        </div>
                    </div>
                    <div ng-if="feedback_config.need_subcategory && new_feedback.category" class="form-group has-success has-feedback">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                        <select class="form-control" style="width: 100%" ng-model="new_feedback.subcategory"
                                ng-options="item.cat as item.cat for item in feedback_config.categories  | unique: 'cat' | filter:{tab:new_feedback.Category} ">
                            <option value="">-Select SubCategory-</option>
                        </select>
                        </div>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <textarea ng-model="new_feedback.feedback" placeholder="Query/Feedback" style="width: 100%;border-radius: 5px;height: 140px;"></textarea>
                        </div>
                        </div>
                    </div>

            </fieldset>
            <hr>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label></label>
                    </div>
                    <div class="col-md-8 col-sm-8" ng-click="post_feedback()">
                        <button class="btn btn-primary ">
                          {{page_labels.submit}}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
