<div class="scrollable" ng-controller="mainCtrl">
  <div class="scrollable-content">
      <div ng-if="hasattendance() && need_checkout && need_checkout_inconfig" class="alert alert-danger" style="margin-bottom: 0;border-radius: 0;" role="alert">
          Checkout Pending
      </div>
      <div class="list-group" style="margin-bottom: 0px;">

          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/mark_attendance')" ng-if="hasattendance()">
              <img style="height: 20px;" src="/img/icons/mark_attendance.png"/>
              <span style="margin-left: 15px; display: inline;">Mark Attendance</span>
          </div>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/view_attendance')" ng-if="hasattendance()">
              <img style="height: 20px;" src="/img/icons/view_attendance.png"/>
              <span style="margin-left: 15px; display: inline;">View Attendance</span>
          </div>
          <a class="nounderline" ng-href="#/dynamic_form?form_code={{f.form_code}}" ng-repeat="f in forms | filter:{'form_type':'dynamic_form'}">
          <div style="font-size:20px;" class="list-group-item list-group-item-home" >

              <img style="height: 20px;" ng-src="{{f.icon}}"/>
              <span style="margin-left: 15px; display: inline;">{{f.title}}</span>
          </div>
          <a class="nounderline" ng-href="#/coming_soon" ng-repeat="f in forms | filter:{'form_type':'!dynamic_form'}">
              <div style="font-size:20px;" class="list-group-item list-group-item-home" >
                  <img style="height: 20px;" ng-src="{{f.icon}}"/>
                  <span style="margin-left: 15px; display: inline;">{{f.title}}</span>
              </div>
          </a>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/feedback')" ng-if="hasfeedback()">
              <img style="height: 20px;" src="/img/icons/query_feedback.gif"/>
              <span style="margin-left: 15px; display: inline;">Feedback</span>
          </div>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/profile')" ng-if="hasprofile()">
              <img style="height: 20px;" src="/img/icons/profile.png"/>
              <span style="margin-left: 15px; display: inline;">My Profile</span>
          </div>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/checkout')" ng-if="hasattendance() && need_checkout && need_checkout_inconfig">
              <img style="height: 20px;" src="/img/icons/checkout_att.png"/>
              <span style="margin-left: 15px; display: inline;">Checkout</span>
          </div>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="changelocation('/settings')" ng-click="">
              <img style="height: 20px;" src="/img/icons/settings.png"/>
              <span style="margin-left: 15px; display: inline;">Settings</span>
          </div>
          <div style="font-size:20px;" class="list-group-item list-group-item-home" ng-click="logout()">
              <i class="fa fa-power-off text-primary"></i>
                <span style="margin-left: 15px; display: inline;">Logout</span>
          </div>
      </div>
      <div></div>
  </div>
</div>
