<div ui-content-for="title">
  <span>Smart InField</span>
</div>

<div class="scrollable" ng-controller="loginCtrl">
 <div class="scrollable-content section">
   
  <form role="form" >
    <fieldset>
      <legend>Login</legend>
        <div class="text-danger">{{errormsg}}</div>
        <div class="form-group has-success has-feedback">
          <label>Username</label>
          <input type="text"
                 ng-model="username"
                 class="form-control"
                 placeholder="Enter username">
        </div>

        <!--<div class="form-group" ng-if="show_password">-->
          <!--<label>Password</label>-->
          <!--<input type="text" ng-model="mypassword"-->
                 <!--class="form-control"-->
                 <!--placeholder="Password" >-->
        <!--</div>-->

        <div class="form-group">
            <label>Password</label>
            <input type="{{password_inputType}}" ng-model="mypassword"
                   class="form-control"
                   placeholder="Password" >
        </div>

        <div class="form-group">
            <label>Show Password </label>
            <ui-switch
                    ng-model='show_password' ng-change="hideShowPassword()"></ui-switch>
        </div>
        <!--<div class="form-group">-->
          <!--<label>Remember Me</label>-->
          <!--<ui-switch -->
            <!--ng-model='rememberMe'></ui-switch>-->
        <!--</div>-->
    </fieldset>
    <hr>

    <button ng-click="login()" class="btn btn-primary center-block">
      Login
    </button>

    <!--<div ui-content-for="navbarAction">-->
      <!--<a class='btn' ng-click='login()'>Login</a>-->
    <!--</div>-->

  </form>
 </div>
</div>
