<div ui-content-for="title" ng-controller="attendanceCtrl">
    <span>{{markatt_page_title}}</span>
</div>

<div class="scrollable" ng-controller="attendanceCtrl">

    <div class="scrollable-content section">
        <div ng-if="is_checked_in">Your attendance is already marked</div>
        <form ng-hide="is_checked_in"  role="form">
            <fieldset>
                <legend>Date:  {{today | date:'MMM dd, yyyy'}}</legend>

                <div class="text-danger">{{errormsg}}</div>
                <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>-->

                <div class="form-group has-success has-feedback">
                    <div class="row">
                    <div class="col-md-4 col-sm-4">
                    <label>{{markatt_page_labels.attendance_type}}:</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <select class="form-control" style="width: 100%" ng-model="checkin_attendance"
                                ng-options="item.att as item.att for item in attendance_config.attendance_reasons  | unique: 'att'">
                            <option value="">-Select-</option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="form-group has-success has-feedback" ng-show="checkin_attendance && attendance_config.need_reason ">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>{{markatt_page_labels.category}}:</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <select class="form-control" style="width: 100%" ng-model="checkin_reason"
                                    ng-options="item.reason as item.reason for item in attendance_config.attendance_reasons  | unique: 'reason' | filter:{att:checkin_attendance} ">
                                <option value="">-Select-</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="attendance_config.need_remarks" >
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>{{markatt_page_labels.remarks}}:</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <textarea class="form-control" style="width: 100%" ng-model="checkin_remarks"></textarea>
                        </div>
                    </div>
                </div>


                <div class="form-group" ng-show="attendance_config.take_selfie" >
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>Selfie:</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <input id="upload" class="file-upload__input form-control"
                                   type="file" name="file" onchange="angular.element(this).scope().uploadcheckinpic(this.files)"/>
                        </div>
                    </div>
                </div>



            </fieldset>
            <hr>

                <div class="row">
                    <div class="col-md-4 col-sm-4 hidden-xs">
                        <label></label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <button class="btn btn-primary" ng-click="mark_attendance()">
                            {{markatt_page_labels.submit}}
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>
