<div ui-content-for="title" ng-controller="profileCtrl" ng-cloak>
    <span>{{page_title}}</span>
</div>

<div class="scrollable" ng-controller="profileCtrl" ng-cloak>
    <div class="scrollable-content section">
        <legend>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><strong>{{profile.userdetails.name}} ({{profile.userdetails.empcode}})</strong></p>
                </div>
            </div>
        </legend>
        <div class="text-danger">{{errormsg}}</div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <p ng-if="profile_config.need_counter" style="font-size: 16px;margin-bottom: 4%;">
                    {{profile.counterdetails.counter_address}}
                    <br>
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true" style="color:#007aff;margin-right:1%;"></i> {{profile.userdetails.mobile_no}}
                </p>
            </div>
            <div class="col-md-6 col-xs-6 text-center" ng-if="profile_config.need_profilepic">
                <div class="camera-img">
                    <img fallback-src="/img/icons/profile.png" alt="No Image Found" ng-src="{{profile.userdetails.profilepic}}">
                </div>
                <br>

                <input id="upload" style="visibility: hidden" class="file-upload__input" type="file" name="file" onchange="angular.element(this).scope().uploadprofilepic(this.files)"/>
                <button class="btn btn-primary" ng-if="profile_config.need_profilepic_edit" onclick="document.getElementById('upload').click()">Edit</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <ul class="helpline" ng-if="profile_config.need_counter">
                    <li><strong>Counter : </strong>{{profile.counterdetails.counter_name}}</li>
                    <li><strong>Assigned On : </strong>{{profile.counterdetails.counter_address}}</li>
                    <li><strong>Showing my info as per last updation : </strong>{{profile.counterdetails.assigned_on}}</li>
                </ul>
                <ul class="helpline"><li><span style="color:#007aff;display: inline;">Helpline</span> (Working hours:10 am to 6 pm)</li></ul>
                <ul class="helpline" ng-if="profile.contactmatrix.length>0">
                    <li ng-repeat="c in profile.contactmatrix"><strong>
                        <i class="fa fa-phone-square text-primary" aria-hidden="true"  style=";margin-right:1%;"></i>
                        {{c.Person}} : </strong>{{c.ContactNo}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
