<div ui-content-for="title">
    <span>Smart InField</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form">
            <fieldset>
                <legend>Change Your Settings</legend>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="chng-set">
                            <a href="#/changepwd"><img height="50px" src="images/pass.png"><span>Change Password</span></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="chng-set">
                            <a href="#/defaultwo"><img height="50px" src="images/config.png"><span>Default Weekly Off</span></a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
        </form>
    </div>
</div>
