<div ui-content-for="title" ng-controller="attendanceCtrl" ng-cloak>
    <span>{{view_page_title}}</span>
</div>

<div class="scrollable" ng-controller="attendanceCtrl" ng-cloak>
    <div class="scrollable-content section">

        <form role="form" >
            <fieldset>

                <legend>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="dates">
                                    <h3><span style="margin-top: 15px;">{{view_page_labels.from_date}}</span> <img src="images/cal.png"><span  class="block"><input type="date" ng-model="sdate" ng-change="load_data()"/></span></h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="dates">
                                <h3><span style="margin-top: 15px;">{{view_page_labels.to_date}}</span> <img src="images/cal.png"><span  class="block"><input type="date" ng-model="edate" ng-change="load_data()"/></span></h3>

                            </div>
                        </div>
                    </div>

                </legend>
                <div class="text-danger">{{errormsg}}</div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="summary">
                            <p>{{view_page_labels.attendance_analysis}}</p>
                            <table style="background: #f7f7f7;width: 100%;border: 1px solid #e6e6e6;">
                                <tr class="spaceUnder" ng-repeat="d in summary_data.attendance_details">
                                    <td><strong>{{d.key}}</strong></td>
                                    <td></td>
                                    <td style="text-align: right">{{d.value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6 col-sm-6">
                        <div class="summary">
                            <p class="margin-class">{{view_page_labels.hours_analysis}}</p>
                            <table style="background: #f7f7f7;width: 100%;border: 1px solid #e6e6e6;">
                                <tr class="spaceUnder" ng-repeat="s in summary_data.attendance_summary">
                                    <td><strong>{{s.key}}</strong></td>
                                    <td></td>
                                    <td style="text-align: right">{{s.value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <hr>
                        <a ng-href="#/daywise">
                        <button class="btn btn-primary center-block">{{view_page_labels.daywise_analysis}}</button>
                        </a>
                    </div>
            </div>
            </fieldset>
            <hr>
        </form>
    </div>
</div>
