<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mark Attendance</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <header id="attendance-title">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mark">Mark Attendance</a></li>
        <li><a data-toggle="tab" href="#view">View Attendance</a></li>
      </ul>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="tab-content">
        <div id="mark" class="tab-pane fade in active">
          <p class="date_info">Date: 2016-04-27</p>
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <label>Attendance Type</label>
                  </div>
                  <div class="col-md-8 col-sm-8">
                     <select class="form-control" ng-model="user_opt">
                      <option value="volvo">--Select--</option>
                      <option value="volvo">P</option>
                      <option value="saab">A</option>
                    </select>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <label>Remarks</label>
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <textarea></textarea>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                   <div class="cam">
                     
                   </div>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <button type="submit" class="btn btn-default"><img src="images/tick.png">Submit</button>
                  </div>
                  </div>
                </div>
              </form>
            </div>

          <div id="view" class="tab-pane fade">
           <div class="row date_info">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="dates">
                    <h3>Start Date<span>2016-04-12</span></h3>
                    <img src="images/cal.png">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="dates">
                  <h3>End Date<span>2016-04-27</span></h3>
                  <img src="images/cal.png">
                </div>
              </div>
           </div>

           <div class="row">
             <div class="col-md-6 col-sm-6">
                <div class="summary">
                   <p>Attendance Summary</p>
                   <table style="background: #e6faff;width: 100%;border: 1px solid #e6e6e6;">
                      <tr class="spaceUnder">
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td>16</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Present</strong></td>
                        <td></td>
                        <td>1</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Absent</strong></td>
                        <td></td>
                        <td>1</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Off</strong></td>
                        <td></td>
                        <td>0</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Unmarked</strong></td>
                        <td></td>
                        <td>14</td>
                      </tr>
                   </table>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="summary">
                   <p>Hourly Summary</p>
                      <table style="background: #e6faff;width: 100%;border: 1px solid #e6e6e6;">
                      <tr class="spaceUnder">
                        <td><strong>Total Working Hours</strong></td>
                        <td></td>
                        <td>1.85</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Average Working Hours</strong></td>
                        <td></td>
                        <td>1.85</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Greater Than 12 Hours</strong></td>
                        <td></td>
                        <td>0</td>
                      </tr>

                      <tr class="spaceUnder">
                        <td><strong>Less Than 8 Hours</strong></td>
                        <td></td>
                        <td>1</td>
                      </tr>
                   </table>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <p><a href="daywise.html" class="margin_class"><img src="images/7cal.png">Daywise Analysis</a></p>
              </div>
           </div>
          </div>
        </div>
      </div>
  </section>

    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
  </html>